In [48]:
import pandas as pd
import numpy as np
from numpy import *
import time
import matplotlib.pyplot as plt
from pandas import DataFrame
from scipy.spatial.distance import pdist
from sklearn.cluster import KMeans, Birch, DBSCAN

In [49]:
dna = pd.read_csv('codon_usage.csv')
dna['Kingdom'].value_counts()

bct    2919
vrl    2831
pln    2523
vrt    2077
inv    1345
mam     572
phg     220
rod     215
pri     180
arc     126
plm      18
Name: Kingdom, dtype: int64

In [50]:
dna.drop(columns=['DNAtype','SpeciesID','Ncodons','SpeciesName'],inplace=True)
data = dna.iloc[:,1:].astype(float)
data

,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,0.01654,0.01203,0.00050,0.00351,0.01203,0.03208,0.00100,0.04010,0.00551,0.02005,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,0.02714,0.01357,0.00068,0.00678,0.00407,0.02849,0.00204,0.04410,0.01153,0.02510,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,0.01974,0.02180,0.01357,0.01543,0.00782,0.01111,0.01028,0.01193,0.02283,0.01604,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,0.01775,0.02245,0.01619,0.00992,0.01567,0.01358,0.00940,0.01723,0.02402,0.02245,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,0.02816,0.01371,0.00767,0.03679,0.01380,0.00548,0.00473,0.02076,0.02716,0.00867,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13021,0.02552,0.03555,0.00547,0.01367,0.01276,0.02097,0.00820,0.03555,0.01459,0.03920,...,0.00820,0.01367,0.01094,0.01367,0.02279,0.02005,0.04102,0.00091,0.00091,0.00638
13022,0.01258,0.03193,0.01984,0.00629,0.01451,0.05322,0.07644,0.01258,0.03096,0.06386,...,0.00145,0.00000,0.00048,0.00194,0.01306,0.01838,0.00677,0.00242,0.00097,0.01887
13023,0.01423,0.03321,0.01661,0.00356,0.01127,0.05042,0.09609,0.01068,0.02728,0.06643,...,0.00000,0.00000,0.00000,0.00178,0.01661,0.02788,0.00297,0.00356,0.00119,0.02017
13024,0.01757,0.02028,0.00767,0.01293,0.01319,0.01959,0.00715,0.03964,0.01600,0.02082,...,0.01142,0.01217,0.01196,0.02178,0.02510,0.02896,0.03959,0.00099,0.00079,0.00156
13025,0.01778,0.03724,0.01732,0.00600,0.01689,0.03854,0.07000,0.01308,0.03391,0.05137,...,0.00083,0.00041,0.00041,0.00451,0.01402,0.01651,0.00783,0.00156,0.00114,0.02161

In [61]:
k = Birch(n_clusters = 5, threshold = 0.001)
k.fit(data)
print(k.cluster_centers_)

AttributeError: 'Birch' object has no attribute 'cluster_centers_'

In [55]:
data.insert(data.shape[1], 'class', k)
data

ValueError: cannot insert class, already exists

In [53]:
classed = pd.concat([dna["Kingdom"],data["class"]], axis=1)
classed

      Kingdom  class
0         vrl      0
1         vrl      0
2         vrl      0
3         vrl      0
4         vrl      0
...       ...    ...
13021     pri      0
13022     pri      0
13023     pri      0
13024     pri      0
13025     pri      0

[13026 rows x 2 columns]

In [46]:
compare = classed[['Kingdom','class']]
class0 = compare[compare['class']==0]
class1 = compare[compare['class']==1]
class2 = compare[compare['class']==2]
class3 = compare[compare['class']==3]
class4 = compare[compare['class']==4]

cluster = [class0,class1,class2,class3,class4]

verify = []
for c in cluster:
    vrl = len(c[c['Kingdom']=='vrl'])
    bct = len(c[c['Kingdom']=='bct'])
    pln = len(c[c['Kingdom']=='pln'])
    vrt = len(c[c['Kingdom']=='vrt'])
    inv = len(c[c['Kingdom']=='inv'])
    verify.append([vrl,bct,pln,vrt,inv])
answer = pd.DataFrame(verify)
answer.columns = ['vrl','bct','pln','vrt','inv']

print(answer)

    vrl   bct   pln   vrt  inv
0   362   937  1042    82  510
1  2167   626   797   153  413
2     1     0     4  1532   34
3    39  1220   116     3   45
4   262   136   564   307  343